{% extends 'base.html' %}

{% block title %}Delete Entry{% endblock %}
  

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item">Delete Entry</li>
</ol>
 
{% endblock %}

{% block content %}
    <h1>Tools:</h1>
    <div class="container">
      <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Tool</th>
              </tr>
            </thead>
            <tbody>
              {% for tool in tools %}
                <tr>
                    <td class="align-middle">
                    <a href="{% url 'del_tool' tool.barcodeID 'SERVERREQUEST' %}">{{ tool.name }}</a>
                </tr>
              {% endfor %}
        </tbody>
      </table>
    </div>

    <h1>Supplies:</h1>
    <div class="container">
      <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Supply</th>
              </tr>
            </thead>
            <tbody>
              {% for supply in supplys %}
                <tr>
                    <td class="align-middle">
                    <a href="{% url 'del_supply' supply.barcodeID  'SERVERREQUEST' %}">{{ supply.name }}</a>
                  </td>
                </tr>
              {% endfor %}
        </tbody>
      </table>
    </div>

    <h1>Jobs:</h1>
    <div class="container">
      <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Job</th>
              </tr>
            </thead>
            <tbody>
              {% for job in jobs %}
                <tr>
                    <td class="align-middle">
                    <a href="{% url 'del_job' job.barcodeID  'SERVERREQUEST' %}">{{ job.name }}</a>
                  </td>
                </tr>
              {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}



