{% extends 'base.html' %}

{% block title %}Mountain Inventory{% endblock %}
  

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item">Inventory List</li>
</ol>
{% endblock %}

{% load tz %}


{% block content %}
    <h1>Tools:</h1>
    <div class="container">
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Tool</th>
                <th>Checked Out?</th>
                <th>Time Checked Out</th>
                <th>Checked Out By</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              {% for tool in tools %}
                <tr>
                    <td class="align-middle">
                    {{ tool.name }}
                  </td>
                  <td class="align-middle">{{ tool.isCheckedOut  }}</td>
                  <td class="align-middle">{% timezone "America/New_York" %}
                    {{ tool.timeCheckedOut }}
                    {% endtimezone %}
                </td>
                  <td class="align-middle">{{ tool.userCheckedOut }}</td>
                  <td class="align-middle"> {{ tool.location }}</td>
                </tr>
              {% endfor %}
        </tbody>
      </table>
    </div>

    <h1>Supplies:</h1>
    <div class="container">
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Supply</th>
                <th>Quantity</th>
                <th>Is Low?</th>
                <th>Last Replenished</th>
                <th>Replenished By</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              {% for supply in supplys %}
                <tr>
                    <td class="align-middle">
                    {{ supply.name }}
                  </td>
                  <td class="align-middle">{{  supply.quantityReplenished}}</td>
                  <td class="align-middle">{{  supply.isLow}}</td>
                  <td class="align-middle">
                    {% timezone "America/New_York" %}
                    {{ supply.timeCheckedOut }}
                    {% endtimezone %}</td>
                  <td class="align-middle">{{ supply.whoReplenished }}</td>
                  <td class="align-middle"> {{ supply.location }}</td>
                </tr>
              {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}


