{% extends 'base.html' %}

{% block title %}Mountain Inventory{% endblock %}
  

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item">Inventory List</li>
</ol>
{% endblock %}

{% load tz %}

{% block content %}
{% csrf_token %}
    <div class="container">
      <h2>Search:</h2>
      <form method="post">
        <div class="form-group">
        <small class="form-text">
        <label for="cats">Catagory:</label><br>
        <select id="cat" name="cat">
          <option value="subject">Subject</option>
          <option value="user">User</option>
          <option value="action">Action</option>
        </select>
      </small>
        <small class="form-text">
        <label for="key">Value:</label><br>
        <input type="text" id="key" name="value">
        </small>
        <h3></h3>
        <input type="submit"class="btn btn-success"></input>
      </div>
      </form>
    </div>
    <div class="container">
      <h2>Results:</h2>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Action</th>
                <th>User</th>
                <th>Subject</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {% for log in logs %}
                <tr>
                    <td class="align-middle">
                    {{ log.action}}
                  </td>
                  <td class="align-middle">{{ log.user }}</td>
                  <td class="align-middle">{{ log.subject }}</td>
                  <td class="align-middle">{% timezone "America/New_York" %}
                    {{ log.time }}
                    {% endtimezone %}</td>
                </tr>
              {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}


